/*----------MEYER RESET----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-ydv9ve");
  src: url("fonts/icomoon.eot?#iefix-ydv9ve") format("embedded-opentype"), url("fonts/icomoon.ttf?-ydv9ve") format("truetype"), url("fonts/icomoon.woff?-ydv9ve") format("woff"), url("fonts/icomoon.svg?-ydv9ve#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-6lmsww");
  src: url("fonts/icomoon.eot?#iefix-6lmsww") format("embedded-opentype"), url("fonts/icomoon.ttf?-6lmsww") format("truetype"), url("fonts/icomoon.woff?-6lmsww") format("woff"), url("fonts/icomoon.svg?-6lmsww#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-location2:before {
  content: "\e948"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-info:before {
  content: "\ea0c"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-twitter:before {
  content: "\ea91"; }

.icon-github4:before {
  content: "\eab4"; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em; }

header {
  background-color: #5CA7F0;
  padding: 0.7em 0.5em;
  color: white;
  z-index: 100;
  border-bottom: 0.3em solid #2E6AA3; }
  header .logo {
    font-size: 1.6em;
    text-align: center; }
    @media (min-width: 35em) {
      header .logo {
        position: absolute;
        z-index: -100;
        background-color: #5CA7F0;
        top: 0;
        right: 2em;
        padding: 3em 1em 1em 1em;
        border: 0.2em solid #2E6AA3; } }
    header .logo .icon-location2 {
      display: none;
      font-size: 2.5em;
      margin-bottom: .2em; }
      @media (min-width: 35em) {
        header .logo .icon-location2 {
          display: block; } }
  header h2 {
    display: none;
    text-align: center;
    font-size: 1.3em; }
    @media (min-width: 35em) {
      header h2 {
        display: block; } }
  header .icon-menu, header .icon-cross {
    float: left; }
  header ul {
    float: right; }
  header li {
    display: inline-block; }
  header a {
    text-decoration: none;
    color: white;
    font-size: 1.6em; }
  header .icon-menu, header .icon-cross {
    font-size: 1.6em; }
    header .icon-menu:hover, header .icon-cross:hover {
      cursor: pointer; }
  header:hover .logo {
    top: .3em;
    transition: top 0.3s; }

footer {
  padding: .6em 0;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #182D65; }
  footer p {
    float: left; }

.footerLinks {
  float: right; }
  .footerLinks a {
    color: white;
    text-decoration: none;
    margin-right: .4em; }

#map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 100vh; }

.welcome {
  z-index: 300;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #5CA7F0; }

.tweetList {
  z-index: -100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  overflow: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }
  @media (min-width: 35em) {
    .tweetList {
      width: 35%; } }

.tweetList.is-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

.tweetListView {
  padding: 2em 0.5em 2em 0.7em; }
  .tweetListView:first-child {
    padding-top: 5em; }
  .tweetListView p:first-child {
    margin-bottom: .4em; }

.welcome {
  background-color: #5CA7F0;
  border: 0.3em solid #2E6AA3; }

.tweetList {
  background-color: #5CA7F0;
  color: white; }

.tweetListView:nth-child(odd) {
  background-color: #2E6AA3; }

.tweetListView p:first-child {
  font-style: italic;
  line-height: 115%; }

.tweetListView p:last-child {
  font-size: .8em; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
