@font-face {
  font-family: "Quaver Sans";
  src: url("./fonts/QuaverSans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quaver Serif";
  src: url("./fonts/QuaverSerif.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-ydv9ve');
  src:url('fonts/icomoon.eot?#iefix-ydv9ve') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-ydv9ve') format('truetype'),
    url('fonts/icomoon.woff?-ydv9ve') format('woff'),
    url('fonts/icomoon.svg?-ydv9ve#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-6lmsww');
  src:url('fonts/icomoon.eot?#iefix-6lmsww') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-6lmsww') format('truetype'),
    url('fonts/icomoon.woff?-6lmsww') format('woff'),
    url('fonts/icomoon.svg?-6lmsww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location2:before {
  content: "\e948";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-github4:before {
  content: "\eab4";
}

$primary-font: "Quaver Sans", sans-serif;
$secondary-font: "Montserrat", sans-serif;


