header {
  position: absolute;
  width: 100%;
  background-color: $primary-color;
  padding: 1em 0;
  color: white;
  z-index: 200;
  border-bottom: .3em solid $secondary-color;
  .logo {
    font-size: 1.6em;
    // position: absolute;
    text-align: center;
    // z-index: -100;
    // background-color:$primary-color;
    // top: 0;
    // right: 2em;
    // padding: 3em 1em 1em 1em;
    // border: .2em solid $secondary-color;
    @media (min-width: 35em) {
      position: absolute;
      z-index: -1;
      background-color:$primary-color;
      top: -.6em;
      right: .7em;
      padding: 3em 1em 1em 1em;
      border: .2em solid $secondary-color;
    }
    .icon-location2 {
      display: none;
      font-size: 2.5em;
      margin-bottom: .2em;
      @media (min-width: 35em) {
        display: block;
      }
    }
  }
  h2 {
    display: none;
    text-align: center;
    font-size: 1.3em;
    @media (min-width: 35em) {
      display: block;
    }
  }
  .icon-menu, .icon-cross {
    float: left;
    margin-left: .4em;
  }
  ul{
    float: right;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    &:last-child {
      margin: 0 .4em 0 .4em;
      @media (min-width: 35em) {
        margin: 0 2.5em 0 .4em;
      }
    }
  }
  .icon-menu, .icon-cross {
    font-size: 1.6em;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover .logo{
    top: -.2em;
    transition: top .3s;
  }
}


// header {
//   z-index: 100;
//   position: absolute;
//   right: 3em;
//   top: -1.6em;
//   text-align: center;
//   padding: 3em 1em 1.5em 1em;
//   background-color: $primary-color;
//   border: .3em solid $secondary-color;
//   color: white;
//   .icon-location2 {
//     font-size: 3em;
//     margin-bottom: .5em;
//   }
//   h1 {
//     font-size: 1.5em;
//   }
//   &:hover {
//     top: -.3em;
//     transition: top .3s ease;
//   }
// }
