// -----WELCOME MESSAGE-----

.welcome {
  color: white;
  @include gradient;
  text-align: center;
  h1 {
    font-size: 3.5em;
  }
  p {
    font-size: 1.2em;
    line-height: 110%;
  }
  a {
    color: white;
    text-decoration: none;
    font-family: $primary-font;
    font-size: 2em;
    border: .1em solid white;
  }
}

// -----LIST OF TWEETS-----

.tweetList {
  color: white;
  &:hover {
    cursor: default;
  }
}

.tweetListView {
  opacity: .9;
  transition: opacity .2s ease;
  &:hover {
    opacity: 1;
  }
  &:nth-child(odd) {
    background-color: $secondary-color;
  }
  &:nth-child(even) {
    background-color: $primary-color;
  }
  p:first-child {
    font-style: italic;
    line-height: 115%;
  }
  p:last-child {
    font-size: .8em;
  }
}

// -----MASK-----

.mask {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.is-active {
  z-index: -100;
  width: 100%;
  height: 100%;
  opacity: .7;
  transition: opacity 0.3s;
}


// -----CLEARFIX-----

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
